<mat-card>
  <mat-card-content class="buy"
    ><p><span>Buy:</span> {{ cost.buy }}</p></mat-card-content
  >
  <mat-card-content class="date-cost">
    <p><span>Date:</span> {{ cost.date | date : "short" }}</p>
    <p><span>Cost:</span> {{ cost.cost | currency }}</p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-icon-button>
      <mat-icon class="small-icon">edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="small-icon">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
