<div class="register-container">
  <form (ngSubmit)="register()" class="register-form">
    <h1>Register New User</h1>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="username"
        name="username"
        required
        minlength="3"
        maxlength="20"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
        maxlength="12"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-raised-button color="warn" type="button" (click)="cancel()">
      Cancel
    </button>
    <div *ngIf="errorMessage" class="error-message">
      <span>{{ errorMessage }}</span>
    </div>
  </form>

  <div>
    <h2>Title Colors</h2>
    <pre>{{ titleColors | json }}</pre>
  </div>
  <div>
    <h2>Background Colors</h2>
    <pre>{{ backgroundColors | json }}</pre>
  </div>
  <div>
    <h2>Font Families</h2>
    <pre>{{ fontFamilies | json }}</pre>
  </div>
  <div>
    <h2>Background GIFs</h2>
    <pre>{{ backgroundGifs | json }}</pre>
  </div>
  <div>
    <h2>Budget GIFs</h2>
    <pre>{{ budgetGifs | json }}</pre>
  </div>
</div>
