<div class="register-container">
  <form (ngSubmit)="register()" class="register-form">
    <h1>Register New User</h1>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="username"
        name="username"
        required
        minlength="3"
        maxlength="20"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
        maxlength="12"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title" name="title" required />
    </mat-form-field>
    <!-- Background Color -->
    <label>Background Color</label>
    <swiper-container [slidesPerView]="1" navigation="true" pagination="true" class="carousel">
      <swiper-slide *ngFor="let color of backgroundColors">
        <div
          class="color-slide"
          [style.background]="color.description"
          (click)="setBackgroundColor(color.id)"
        ></div>
      </swiper-slide>
    </swiper-container>
    <!-- Title Color -->
    <label>Title Color</label>
    <swiper-container [slidesPerView]="1" [spaceBetween]="10" class="carousel">
      <swiper-slide *ngFor="let color of titleColors">
        <div
          class="color-slide"
          [style.background]="color.description"
          (click)="setTitleColor(color.id)"
        ></div>
      </swiper-slide>
    </swiper-container>
    <!-- Font Family -->
    <label>Font Family</label>
    <swiper-container [slidesPerView]="1" [spaceBetween]="10" class="carousel">
      <swiper-slide *ngFor="let font of fontFamilies">
        <div
          class="font-slide"
          [style.fontFamily]="font.description"
          (click)="setFontFamily(font.id)"
        >
          {{ font.description }}
        </div>
      </swiper-slide>
    </swiper-container>
    <!-- Budget GIF -->
    <label>Budget GIF</label>
    <swiper-container [slidesPerView]="1" [spaceBetween]="10" class="carousel">
      <swiper-slide *ngFor="let gif of budgetGifs">
        <div
          class="gif-slide"
          [style.backgroundImage]="'url(' + gif.url + ')'"
          (click)="setBudgetGif(gif.id)"
        ></div>
      </swiper-slide>
    </swiper-container>
    <!-- Background GIF -->
    <label>Background GIF</label>
    <swiper-container [slidesPerView]="1" [spaceBetween]="10" class="carousel">
      <swiper-slide *ngFor="let gif of backgroundGifs">
        <div
          class="gif-slide"
          [style.backgroundImage]="'url(' + gif.url + ')'"
          (click)="setBackgroundGif(gif.id)"
        ></div>
      </swiper-slide>
    </swiper-container>
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-raised-button color="warn" type="button" (click)="cancel()">
      Cancel
    </button>
    <div *ngIf="errorMessage" class="error-message">
      <span>{{ errorMessage }}</span>
    </div>
  </form>
</div>
