<div class="register-container">
  <form (ngSubmit)="register()" class="register-form">
    <h1>Register New User</h1>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="username"
        name="username"
        required
        minlength="3"
        maxlength="20"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
        maxlength="12"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        [(ngModel)]="title"
        name="title"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Background Color</mat-label>
      <mat-select [(ngModel)]="backgroundColorId" name="backgroundColorId" required>
        <mat-option *ngFor="let color of backgroundColors" [value]="color.id">
          {{ color.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Title Color</mat-label>
      <mat-select [(ngModel)]="titleColorId" name="titleColorId" required>
        <mat-option *ngFor="let color of titleColors" [value]="color.id">
          {{ color.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Font Family</mat-label>
      <mat-select [(ngModel)]="fontFamilyId" name="fontFamilyId" required>
        <mat-option *ngFor="let font of fontFamilies" [value]="font.id">
          {{ font.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Background GIF</mat-label>
      <mat-select [(ngModel)]="backgroundGifId" name="backgroundGifId" required>
        <mat-option *ngFor="let gif of backgroundGifs" [value]="gif.id">
          {{ gif.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Budget GIF</mat-label>
      <mat-select [(ngModel)]="budgetGifId" name="budgetGif" required>
        <mat-option *ngFor="let gif of budgetGifs" [value]="gif.id">
          {{ gif.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-raised-button color="warn" type="button" (click)="cancel()">
      Cancel
    </button>
    <div *ngIf="errorMessage" class="error-message">
      <span>{{ errorMessage }}</span>
    </div>
  </form>
</div>
