.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.costs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.menu-icon {
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-title);
  opacity: 0.5;
}

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--font-color-title);
  font-size: 34px;
}

.icons, span {
  color: blueviolet !important;
}

.gift-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.expense {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

h2 {
  font-size: 20px;
  color: rgb(21, 21, 202);
  margin: 0;
  align-self: center;
}

h2 span {
  color: blue !important;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h3 span {
  font-weight: lighter;
}

.spent {
  color: red;
}

.spent span {
  color: rgb(179, 30, 30) !important;
}

.available {
  color: green;
}

.available span {
  color: rgb(2, 92, 2) !important;
}

.add-icon-container {
  display: flex;
  justify-content: end;
  width: 320px;
}

.add-icon {
  cursor: pointer;
  color: var(--font-color-title);
  opacity: 0.2;
}

.budget {
  width: 80px;
  height: 80px; 
  vertical-align: middle;
  margin-top: -50px;
}

.background-gif {
  position: absolute;
  top: 13%;
  left: 74%;
  width: 150px;
  height: 150px; 
  opacity: 0.5;
  transform: translate(-50%, -50%);
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
  z-index: 1000;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}