.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #e0e0e0;
}

:host * {
  font-family: "Roboto", sans-serif !important;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.login-form mat-form-field {
  display: block;
  margin-bottom: -14px;
}

.error-message {
  color: red;
  margin-top: 16px;
}

a {
  margin-top: 10px;
  text-align: right;
  cursor: pointer;
}
