.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #E0E0E0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.error-message {
  color: red;
  margin-top: 16px;
}

a {
  margin-top: 10px;
  text-align: right;
  cursor: pointer;
}