/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom right, rgb(243, 178, 243), #90CAF9);
}

body {
    margin: 0;
}